@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;



#recap_pizza{
    width: 25%;
    position: sticky;
    top: 0.5rem;
    padding-right: 0.5rem;
    max-height: 95vh;
    overflow-y: auto;
    background-color: $secondary-color;
    padding: 1rem;
    border-radius: 8px;

    .container-recap{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;

        .container-option{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 1rem;

            .prix{
                width: 40%;
                border: 2px solid $background-color;
                border-radius: 8px;
                padding: 1rem;
                text-align: center;
                background-color: $background-color;
            }

            .taille{
                width: 40%;
                border: 2px solid $secondary-color;
                border-radius: 8px;
                padding: 1rem;
                text-align: center;
                background-color: $background-color;
            }

            .pate{
                width: 40%;
                border: 2px solid $secondary-color;
                border-radius: 8px;
                padding: 1rem;
                text-align: center;
                background-color: $background-color;
            }

            .base{
                width: 40%;
                border: 2px solid $secondary-color;
                border-radius: 8px;
                padding: 1rem;
                text-align: center;
                background-color: $background-color;
            }

            .ingredients{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 1rem;
            }

            .cta{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                form{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .primary-btn{
                        text-align: center;
                        background-color: $tertiary-color;
                        padding: 0.5rem;
                        border: 1px solid $primary-color;
                        border-radius: 8px;
                    }
                }
                
            }
        }

    }
}