@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as *;

.card-ingredient-choisi{
    @include d-flex-column;
    width: 45%;
    gap: 1.5rem;
    border: 2px solid $background-color;
    border-radius: 8px;
    padding: 1rem;
    background-color: $background-color;

    .footer-card-ingredient-choisi{
        text-align: center;

        .btn-suppression{
            background-color: $danger-color;
            padding: 0.5rem;
            border: 1px solid $primary-color;
            border-radius: 8px;
        }
    }
}